@import "~src/assets/variables";

#scroll5 {

  display: flex;
  flex-direction: column;

  background: black;
  color: white;
  .scroll-container {
    flex: 1;
    display: flex;
  }
  .columns {
    flex: 1;
    display: flex;
    .column-left {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      >*:nth-child(1) {
        flex: 0.4;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      >*:nth-child(2) {
        flex: 0.4;
      }

      .columnt-left__top {
        h2 {
          margin-bottom: 1rem;
        }
      }
      .column-left__bottom {
        >* {
          margin: 0.5rem 0;
        }
        a {
          display: block;
        }
      }
    }
    .column-right {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }
  }

  h4 {
    font-size: 20px;
  }

  //justify-content: space-around;
  //display: flex;
  //flex-direction: column;

  //>.container:nth-child(2) {
  //  flex: 0;
  //}
  //
  //>.container:nth-child(3) {
  //  flex: 0.5;
  //}
}
