
<div class="scroll-section" id="scroll5">
  <div class="container-header">
    <app-header color="white"></app-header>
  </div>

  <div class="container scroll-container">
    <div class="columns">
      <div class="sm-container column-left">
        <div class="columnt-left__top">
          <h2>
            Company
          </h2>
          <div>
            Codesurf is a web and mobile app development house. We help corporates & startup entrepreneur s thrive by bringing their ideas to life.
          </div>
        </div>
        <div class="column-left__bottom">
          <h4>
            Contacts
          </h4>
          <span>
            codesurf@contact.com
          </span>
          <a href="https://www.linkedin.com/in/tymur-svorovskyi-3704b0163/">LinkedIn</a>
        </div>
      </div>
      <div class="column-right sm-container container-370">
          <div>
            <h4>
              Have a question? Want to chat?
            </h4>
            <div>
              You outsorce to get a proven software development process so you can focus on your own core competency.
            </div>
            <app-contact-form></app-contact-form>
          </div>
      </div>
    </div>



    <!--Contact us-->

    <!--Let us code your idea! Drop us a line at - codesurf@contact.com-->

    <!--Футер-->

    <!--Our Services(-||-)                    Linkedin(линк должен быть кликабелен)-->

    <!--Careers(когда доделаем страницы, потом они должны быть кликабельны)-->

    <!--Contact Us(когда доделаем страницы, потом они должны быть кликабельны)-->

    <!--© 2019. All rights reserved.-->
  </div>
</div>
