@import "~src/assets/variables";

*{
  font-family: "Avenir Next", Verdana, sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 49px;
}
h2 {
  font-size: 65px;
  font-weight: 400;
}
h3 {
  font-weight: bold;
  font-size: 34px;
}

.crf-container {
  //scroll-snap-type: mandatory;
  //scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.scroll-section {
  //scroll-snap-align: start;
  scroll-snap-align: none center;
  min-height: 100vh;
}


