<div class="header-container {{color}}">
  <!--<img class="logo" src="../../../assets/codesurf-logo.png" alt="" routerLink="/">-->
  <div class="logo {{color}}"></div>
  <div class="links">
    <span class="link" routerLink="/studio">Studio</span>
    <span class="link" routerLink="/services">Services</span>
    <span class="link" routerLink="/contact">Contact</span>
  </div>
  <div class="language">Ru/En</div>
</div>
