.header-container {
  display: flex;
  align-items: center;
  height: 5rem;

  &.white {
    color: white;
    .logo {
        background-image: url("../../../assets/codesurf-logo.png");
    }
  }

  &.black {
    color: black;
    .logo {
        background-image: url("../../../assets/codesurf-logo-black.png");
        background-position-y: 40%;
    }
  }

  .logo {
    margin-right: 5rem;
    background-repeat: no-repeat;
    background-size: 128px;
    width: 130px;
    height: 50px;
  }

  .links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  .language {
    display: flex;
    justify-content: flex-end;
  }
}

.link:not(:last-child) {
  margin-right: 1rem;
}
