<form class="container-370" [formGroup]="contactForm" (ngSubmit)="sendMail()">
    <input formControlName="email" type="email" placeholder="Email">
    <input formControlName="message" placeholder="Your message" type="text">
    <button *ngIf="!isSent" type="submit">{{!isStarted ? 'Submit' : '...sending...'}}</button>
    <div *ngIf="isSent">
        Ваше сообщение успешно отправлено!
    </div>
</form>
