

:host {
    input {
        display: block;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
        min-height: 42px;
        margin: 1rem 0;
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        outline: none;
        transition: 0.1s all ease-in-out;
        font-weight: 500;

        &:focus {
            border-color: #0032FE;
        }

        &:disabled {
            opacity: 0.5;
        }
    }

    button, input[type=submit] {
        min-height: 59px;
        display: flex;
        border-color: #0032FE;
        border-radius: 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
        background: transparent;
        color: white;
        font-size: 14px;
        outline: none;
        transition: 0.1s all ease-in-out;
        border-width: 2px;
        cursor: pointer;

        margin-top: 2rem;
        &:active {
            transform: translateY(1px);
        }
    }
}
