#scroll4 {
  justify-content: space-around;
  display: flex;
  flex-direction: column;

  >.container:nth-child(2) {
    flex: 0;
  }

  >.container:nth-child(3) {
    flex: 0.5;
  }
}

.testimonials {
  margin-left: auto;
  margin-right: 0;
  .t {
    display: none;

    flex-direction: column;
    &.active {
      display: flex;
    }

    .t-name {
      font-weight: bold;
      font-size: 34px;
      margin-bottom: 0.5rem;
    }
    .t-link-group {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      .t-link-logo {
        background-image: url("../../../../assets/svg/linkedin-circle.svg");
        width: 30px;
        height: 30px;
        background-size: 100%;
        margin-right: 1rem;
      }
      .t-link {
        font-size: 15px;
        color: black;
      }
    }
    .t-comment {

    }
  }
  .controls {
    .prev, .next {
      border: none;
      font-size: 30px;
      cursor: pointer;
      outline: none;
    }
    .prev {
      margin-right: 2rem;
    }
    .next {

    }
  }
}
