<div class="scroll-section" id="scroll4">

  <div class="container-header">
    <app-header color="black"></app-header>
  </div>

  <div class="container">
    <div class="md-container">
      <h2>
        Why Work With Us
      </h2>

      <p>
        Our team focuses on creating impactful, valuable and visually appealing products that meet all of your business needs. So whether you want to build a web, hybrid or a mobile app, you can focus on your core competency and leave the coding to us.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="testimonials md-container">
      <div class="t" [class.active]="activeT == 1">
        <div class="t-name">
          Karim Ouerdi
        </div>
        <a class="t-link-group" href="https://www.linkedin.com/in/tymur-svorovskyi-3704b0163/" target="_blank">
          <div class="t-link-logo"></div>
          <div class="t-link">
            Procurement manager at Malakoff mederic Humanis
          </div>
        </a>

        <div class="t-comment">
          Codesurf team have everything it takes to build powerful web products start-to-end. They want to become a reliable team member rather than just another vendor. Stellar work!
        </div>
      </div>

      <div class="t" [class.active]="activeT == 2">
        <div class="t-name">
          Anastasia Panasiuk
        </div>
        <a class="t-link-group" href="https://www.linkedin.com/in/tymur-svorovskyi-3704b0163/" target="_blank">
          <div class="t-link-logo"></div>
          <div class="t-link">
            Motion/video design at 1+1 media
          </div>
        </a>
        <div class="t-comment">
          The team had a quick reaction on involved changes and have always been clear and concise. They didn’t have a huge team, but, I believe Codesurf is a great combination of well-proven professionals and smart, flexible management.
        </div>
      </div>

      <div class="t" [class.active]="activeT == 3">
        <div class="t-name">
          Juan Jesus Turriate Camacho
        </div>
        <a class="t-link-group" href="https://www.linkedin.com/in/tymur-svorovskyi-3704b0163/" target="_blank">
          <div class="t-link-logo"></div>
          <div class="t-link">
            Underwriter Financial Lines Analyst at Chubb
          </div>
        </a>
        <div class="t-comment">
          What I liked the most about Codesurf is that they are very agile and responsive. I was impressed with their willingness to work an extra hour to get things done.
        </div>
      </div>
      <div class="controls">
        <button class="prev" (click)="prev()">&lt;</button>
        <button class="next" (click)="next()">&gt;</button>
      </div>
    </div>
  </div>


</div>
