:host {
  position: fixed;
  background: black;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    padding: 2rem;
    background: black;
    border-radius: 2rem;
    position: relative;
    h2 {
      margin: 1rem 0;
    }

    .close-button {
      background: url("~src/assets/svg/close.svg");
      background-size: 100%;
      width: 2rem;
      height: 2rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }
}
