<div class="content">
  <button type="button" class="close-button" (click)="close()"></button>
  <h2 *ngIf="Title">{{Title}}</h2>
  <p *ngIf="SubTitle">{{SubTitle}}</p>
  <ng-content></ng-content>
</div>
