

<div class="scroll-section" id="scroll3">
  <div class="container">
    <div class="md-container">
      <h2>
        How We Do It
      </h2>

      <p>
        From idea to product launch. We are all about keeping the work productive, scalable and agile.  Introducing a seamless staging process that leads you from a starting point to the launch phase.
      </p>
    </div>
  </div>

  <div class="container options-container">
    <div class="md-container options">

        <div class="option" (click)="setActive(1)" [class.active]="active == 1">
          <div class="icon"></div>
          <div class="text">
            <div class="title">
              Project Estimate
            </div>
            <div class="description">
              We’ll have an initial call with you to identify your goals
            </div>
          </div>
        </div>

        <div class="option"  (click)="setActive(2)" [class.active]="active == 2">
          <div class="icon"></div>
          <div class="text">
            <div class="title">
              Technical Roadmap & Review
            </div>
            <div class="description">
              We’ll create a project roadmap for your approval
            </div>
          </div>
        </div>

        <div class="option"  (click)="setActive(3)" [class.active]="active == 3">
          <div class="icon"></div>
          <div class="text">
            <div class="title">
              Project Development
            </div>
            <div class="description">
              We design the mockup and build the code for your project
            </div>
          </div>
        </div>

        <div class="option"  (click)="setActive(4)" [class.active]="active == 4">
          <div class="icon"></div>
          <div class="text">
            <div class="title">
              Quality Assurance & Control
            </div>
            <div class="description">
              We ensure your application is bug and glitch free
            </div>
           </div>
        </div>

        <div class="option"  (click)="setActive(5)" [class.active]="active == 5">
          <div class="icon"></div>
          <div class="text">
            <div class="title">
              Get your project done!
            </div>
            <div class="description">
              We make sure to deliver your project in a timely manner!
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
