@import "~src/assets/variables";

#scroll3 {
  background: black;
  color: white;

  justify-content: center;
  display: flex;
  flex-direction: column;

  >.container:nth-child(1) {
    flex: 0.3;
  }

  >.container:nth-child(2) {
    flex: 0;
  }
}

.options-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  margin: 0;
  transition: all 0.3s ease;
  color: white !important;
  min-height: 350px;
  .option {
    .icon {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
      background-repeat: no-repeat;
    }
    &:nth-child(1) {
      .icon {
        background-image: url("../../../../assets/svg/001-briefing.svg");
      }
    }
    &:nth-child(2) {
      .icon {
        background-image: url("../../../../assets/svg/002-help.svg");
      }
    }
    &:nth-child(3) {
      .icon {
        background-image: url("../../../../assets/svg/003-project.svg");
      }
    }
    &:nth-child(4) {
      .icon {
        background-image: url("../../../../assets/svg/004-start.svg");
      }
    }
    &:nth-child(5) {
      .icon {
        background-image: url("../../../../assets/svg/005-technical-support.svg");
      }
    }
    cursor: pointer;
    padding: 1rem;
    transition: all 0.3s ease;
    opacity: 0.3;
    display: flex;
    align-items: flex-start;

    .title {
      transition: all 0.3s ease;
      font-size: 20px;
    }
    .description {
      transition: all 0.3s ease;
      height: 0;
      opacity: 0;
    }


    &.active, &:hover {
      opacity: 1;
      .title {
        font-weight: 700;
        font-size: 30px;
      }
      .description {
        font-size: 16px;
        //height: 20px;
        opacity: 1;
      }
    }
  }
}

h2{
  line-height: 70px;
  margin-bottom: 1rem;
}
