@font-face {
  font-family: "Avenir Next";
  src: url(~src/assets/fonts/AvenirNext/AvenirNextLTPro-Regular.otf) format('otf');
  src: url(~src/assets/fonts/AvenirNext/AvenirNextLTPro-Bold.otf) format('otf');
  src: url(~src/assets/fonts/AvenirNext/AvenirNextLTPro-Heavy.otf) format('otf');
}

$blue: #0032FE;

@mixin createContainer($width, $padding, $mobile-padding) {
  @media (min-width: 768px) {
    padding: 0 $padding;
    max-width: calc(100% - #{2*$padding});
  }
  @media (max-width: 767px) {
    padding: 0 $mobile-padding;
    max-width: calc(100% - #{2*$mobile-padding});
  }
  margin: 0 auto;
  width: $width;
  overflow: hidden;
}

.container {
  @include createContainer(1200px, 2rem, 1rem);
}

.container-header {
  @include createContainer(1400px, 2rem, 1rem);
}

.md-container {
  @include createContainer(768px, 0px, 0px);
  margin-left: 0;
}

.sm-container {
  @include createContainer(470px, 0px, 0px);
  margin-left: 0;
}

.container-370 {
  @include createContainer(370px, 0px, 0px);
  margin-left: 0;
  overflow: initial;
}


.w-768 {
  width: 768px;
}
