<div class="scroll-section" id="scroll1">

  <div class="container-header">
    <app-header color="white"></app-header>
  </div>

  <div class="container scroll1-outer">
    <div class="scroll1-inner">
      <h1>You Surf. We Code.</h1>

      <p>
        We are a web & mobile app development company. We help corporates & startup entrepreneurs thrive by bringing their ideas to life. Surf the ideas and we will Code them.
      </p>

      <div class="buttons">
        <a href="#scroll2">
          <button type="button" class="button-secondary">
            Our Services
          </button>
        </a>

        <a (click)="openModal()">
          <button type="button" class="button-primary" >
            Estimate Project
          </button>
        </a>
      </div>
    </div>
  </div>
  <app-modal
          *ngIf="isModalOpen"
          (onClose)="closeModal()"
          Title="Welcome"
          SubTitle="We are web & mobile app development company."
  >
    <app-contact-form></app-contact-form>
  </app-modal>
</div>
