@import "~src/assets/variables";

#scroll1 {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .scroll1-outer {
    flex: 0.5;
  }

  .scroll1-inner {
    width: 768px;
    max-width: 100%;
    margin-left: 0;
  }



  .buttons {
    display: flex;
    >* {
      flex: 1;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    button {
      width: 100%;
      cursor: pointer;
    }
    a {
      text-decoration: none;
    }
  }

  %button-behavior {
    text-decoration: none;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    padding: 0 2rem;
    max-width: 353px;
    font-size: 1rem;
  }

  .button-secondary {
    color: white;
    @extend %button-behavior;
    background: transparent;
    border: 1px solid $blue;
  }

  .button-primary {
    color: white;
    @extend %button-behavior;
    background: $blue;
    border-color: $blue;
  }
}

h1 {
  margin-bottom: 1rem;
}

h1 + p {
  margin-bottom: 2rem;
}
