@import "~src/assets/variables";

#scroll2 {
  justify-content: space-around;
  display: flex;
  flex-direction: column;

  >.container:nth-child(1) {
    flex: 0;
  }

  >.container:nth-child(2) {
    flex: 0.5;
  }
}

.services {
  display: flex;
  .service {
    .service-num {
      font-size: 159px;
      font-weight: 900;
      position: absolute;
      opacity: 0.1;
    }

    flex: 1;
    padding-right: 2rem;
    &:not(:last-child) {}
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

h2{
  line-height: 70px;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 8rem;
}
