<div class="scroll-section" id="scroll2">
  <div class="container">

    <div class="md-container">
      <h2>
        Make your application or web idea a reality.
      </h2>

      <p>
        We deliver projects that your business and users will love to use.
        <br>See how we can help.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="services">
      <div class="service">
        <div class="service-num">
          1
        </div>
        <h3>
          Web Application Development
        </h3>
        <p>
          We build web solutions that scale as your business grows. Kickstart your digital journey by utilizing
          the latest technologies only.
        </p>

        <a href="#">
          Learn More
        </a>
      </div>

      <div class="service">
        <div class="service-num">
          2
        </div>
        <h3>
          Mobile Application Development
        </h3>
        <p>
          We build cross-platform solutions that gives on-the-go access to all your customers within a few clicks.
          Accelerate your product sales by introducing mobile solutions to your business.
        </p>

        <a href="#">
          Learn More
        </a>
      </div>

      <div class="service">
        <div class="service-num">
          3
        </div>
        <h3>
          Custom Web Development
        </h3>
        <p>
          We build custom solutions based on your goals. Turn your business needs into a fully
          functional web or mobile application.
        </p>

        <a href="#">
          Learn more
        </a>
      </div>
    </div>
  </div>
</div>
